body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
#dashboardMainContainer{
    display: flex;
    flex-direction: row;
}
div.dashboard_sidebar{
    width: 20%;
    background: #323232;
    height: 150vh;
    
}
div.dashboard_content_container{
    width: 80%;
    background: #f4f6f9;
    
}
h3.dashboard_logo{
    color: #f685a1;
    font-size: 80px;
    text-align: center;
    margin-bottom: 37px;
}
div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
div.dashboard_sidebar_user img{
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #f685a1;
    margin-right: 5px;
    vertical-align: middle;
}
div.dashboard_sidebar_user span{
    top:20%;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
ul.dashboard_menu_lists{
    margin-top: 20px;
    padding: 20px 0;
}
ul.dashboard_menu_lists li.liMainMenu{
    padding-top: 30px;
    text-transform: uppercase;
}
ul.dashboard_menu_lists li.liMainMenu a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 0px 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    
}
ul.dashboard_menu_lists li.liMainMenu a i{
    font-size: 23px;
    width: 30px;
    
}
ul.dashboard_menu_lists li.liMainMenu a:hover{
    background: #f685a1;
    color: #fff;
    transition: 0.3s all;
}
ul.dashboard_menu_lists li menuActive{
    background: #f685a1;
    color: #fff;
}


div.dashboard_topNav{
    background: #fff;
    padding: 20px;
    color: #848383;
    font-size: 15px;
    text-decoration: none;
    
}

a#logoutBtn{
    float: right;
    text-decoration: none;
}
div.dashboard_content{
    padding: 50px 10px 10px 10px;
}
div.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 80%;    
}
table th{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;
}
table td{
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
p.userCount{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f685a1;
}
a.subMenuLink{
    padding-left: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: none;
    font-size: 15px !important;
}
a.subMenuLink i{
    font-size: 16px !important;
    width: 16px !important;
}
ul.subMenus{
    background: #c26a80;
    display: none;
    padding-left: 12px;
}
mainMenuIconArrow{
    float: right;
    font-size: 19px !important;
    margin-top: 7px;
}
.subMenuActive{
    font-weight: bold;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: #763a49;
}
@media (max-width: 768px) {
    #dashboard_sidebar {
        margin-left: -250px;
    }
    #dashboard_content_container {
        width: 100%;
        padding: 20px
    }
}
